#Original source https://forums.raspberrypi.com/viewtopic.php?t=343733#p2059324

[unit]
Description=Pi-Rates Python
After=multi-user.target
[Service]
Type=simple
WorkingDirectory=/home/pi/
ExecStart=python3 -u pirates.py
KillSignal=SIGINT
Restart=on-failure

[Install]
WantedBy=multi-user.target


